@media screen and (max-width:980px) and (min-width:768px){
	
	


.nav-toggle{
	display:block ! important
}
nav>ul.menu{
	display:none;
	position:absolute;
	top:100%;
	right:0px;
	background:#e4e4e4;
	height:auto ;
	width:200px;
	transition:1s all ease;
}	
nav>ul.menu>li{
	display:block
}

nav ul.dropdown{
	position:inherit; 
	width: 200px;
}




	
}